@font-face {
  font-family: 'HaveHeartOne';
  src: url('../fonts/haveheartone/have_heart_one-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/haveheartone/have_heart_one-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/haveheartone/have_heart_one-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/haveheartone/have_heart_one-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/haveheartone/have_heart_one-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/haveheartone/have_heart_one-webfont.svg#have_heart_one-webfont') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'HaveHeartSwash';
  src: url('../fonts/haveheartswash/have_heart_swash-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/haveheartswash/have_heart_swash-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/haveheartswash/have_heart_swash-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/haveheartswash/have_heart_swash-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/haveheartswash/have_heart_swash-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/haveheartswash/have_heart_swash-webfont.svg#have_heart_swash-webfont') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Avenir 55 Roman';
  src: url('../fonts/avenir55/Avenir55Roman.eot'); /* IE9 Compat Modes */
  src: url('../fonts/avenir55/Avenir55Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/avenir55/Avenir55Roman.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/avenir55/Avenir55Roman.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/avenir55/Avenir55Roman.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/avenir55/Avenir55Roman.svg#Avenir55Roman') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Avenir 65 Medium';
  src: url('../fonts/avenir65/Avenir65Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/avenir65/Avenir65Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/avenir65/Avenir65Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/avenir65/Avenir65Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/avenir65/Avenir65Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/avenir65/Avenir65Medium.svg#Avenir65Medium') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Avenir 85 Heavy';
  src: url('../fonts/avenir85/Avenir85Heavy.eot'); /* IE9 Compat Modes */
  src: url('../fonts/avenir85/Avenir85Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/avenir85/Avenir85Heavy.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/avenir85/Avenir85Heavy.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/avenir85/Avenir85Heavy.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/avenir85/Avenir85Heavy.svg#Avenir85Heavy') format('svg'); /* Legacy iOS */
}