@import "vars";
@import "fonts";
@import "keyframes";
@import "base";
@import "grid";
@import "alerts";
@import "helpers";
@import "navigation";

//Website Logo
.site-icon {
	border: 3px solid $white;
	color: $white;
	display: block;
	height: 40px;
	position: relative;
	width:  40px;
	&.dark {
		border-color: $background-black;
		&:before {
			display: none;
		}
	}
	&.small {
		width: 20px;
		height: 20px;
	}
	&:hover {
		background-color: $white;
		&:before {
			left: 115px;
		}
	}
	&:before {
		content: "";
	    background-color: $background-black;
	    display: block;
	    height: 50px;
	    left: 40px;
	    position: absolute;
	    top: 0;
	    transition: all 0.3s ease-in-out;
	    width: 100px;
	    z-index: 1;
	}
	> span {
		display: block;
		padding-left: 45px;
	}
}

#container {
	background-color: $background-black;
	color: $white;
	min-height: 100vh;
	padding: 3rem 9rem 3rem 9rem;
	width: 100%;
	&.inverse {
		background-color: $white;
		color: $black;
		.navigation a {
			color: $black;
		}
		.site-icon {
		    border: 3px solid $black;
		    color: $black;
		    > span {
		    	color: $black;
		    }
		    &:before {
		    	background-color: $white;
		    }
		}
	}
}

.info-list {
	list-style: none;
	> .info-list-item {
		color: grey;
		font-size: 1.125rem;
		&:first-of-type {
			margin-top: 0;
		}
	}
}

form {
	label {

	}
	input {
	    background-color: transparent;
	    border-radius: 3px;
	    border: 1.5px solid #999;
	    color: #fff;
	    font-size: 1rem;
	    font-weight: 700;
	    height: 46px;
	    margin: 0.5rem 0 1rem 0;
	    padding: 0.75rem;
		width: 100%;
	}
	.textarea {
		position: relative;
		textarea {
		    background-color: transparent;
		    border-radius: 3px;
		    border: 1.5px solid #999;
		    color: #fff;
			font-family: 'Avenir 65 Medium', sans-serif;
		    font-size: 1rem;
		    font-weight: 400;
		    height: 46px;
		    margin: 0.5rem 0 1rem 0;
		    min-height: 200px;
		    padding: 0.75rem;
		    position: relative;
		    resize: vertical;
			width: 100%;
		    + .resize-node {
		    	background: url("../img/corner-handle.svg");
		    	bottom: 25px;
		    	display: block;
		    	height: 16px;
		    	pointer-events: none;
		    	position: absolute;
		    	right: 5px;
		    	width: 16px;
		    }
		}
	}
}

//A main content section
.content-section {
	&--hero {
		height: 95vh;
	}
	&-heading {
		border-bottom: 5px solid #fff;
		color: $white;
		font-size: 1.25rem;
		margin: 0;
		padding-bottom: 1rem;
	}
	&-content {
		font-family: 'Avenir 85 Heavy', sans-serif;
		margin: 5rem 0;
		position: relative;
		width: 70%;
		z-index: 2;
		&--hero {
			max-width: 48vw;
			position: absolute;
			width: 70%;
		}
	}
	&-item {
		display: inline;
		font-family: 'Avenir 55 Roman', sans-serif;
		font-size: 2.6rem;
		letter-spacing: 0.3px;
		line-height: 1.4;
		margin-bottom: 0;
		position: relative;
		@-moz-document url-prefix() {
			letter-spacing: 0;
		}
		&.featured-project {
			&:before {
			content: "Featured Project";
		    border-radius: 3px;
		    color: #7b7e84;
		    display: block;
		    font-size: 1.1rem;
		    font-family: monospace;
		    font-weight: 400;
		    left: -95px;
		    padding: 3px 9px;
		    position: absolute;
		    top: 62px;
		    transform: rotate(-90deg);
		}
		}
	}
	.content-section-underlay {
	    height: 100%;
		position: absolute;
	    width: 100%;
	    .content-section-underlay-image {
			// -webkit-filter: grayscale(1);
			// -webkit-filter: hue-rotate(90deg);
			// filter: grayscale(1);
			position: absolute;
			top: 15%;
		    min-width: 20rem;
		    opacity: 0;
		    right: 10%;
		    transition: opacity 0.4s ease-in-out;
		    -webkit-transition: opacity 0.4s ease-in-out;
		    width: 70%;
			&.show {
				opacity: 1;
				z-index: 1;
			}
		}
	}
}

//Intro section
#intro {
	padding-bottom: 10rem;	
	&.project-page {
		height: auto;
	}	
	// .floating {
	// 	font-family: 'Avenir 65 Medium', sans-serif;
	//     position: absolute;
	//     left: 1rem;
	//     top: 8rem;
	//     font-size: 25rem;
	//     transform: rotate(-90deg);
	//     color: #0c0c0c;
	//     z-index: 1;
	// }
	// #social-links {
	// 	position: fixed;
	// 	position: absolute;
	//     bottom: 30%;
	//     right: 0;
	//     z-index: 3;
	//     &.project-page {
	//     	bottom: 20%;
	//     }
	// }
	.btn {
		font-size: 1.3rem;
		font-family: monospace;
		margin-left: 20px;
		position: relative;
	}
}

.posts-meta .btn {
	margin: 50px auto;
	text-align: center;
	.btn:hover {
		border-color: grey;
		color: grey;
	}
}

.post .content {
	font-size: 1.35rem;
}

.email-component {
    align-items: center;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    margin: 0 0 1rem 0;
	min-width: 50%;
    padding: 0.5rem 1rem 0.5rem 0;
	width: auto;
    > .email-text-input {
		border: 0;
	    background-color: transparent;
	    color: grey;
	    font-family: 'Avenir 65 Medium', sans-serif;
	    font-size: 1.125rem;
	    width: 50%;	
	    + .btn#copy-btn {
			font-size: 1rem;
			font-weight: 700;
		}
    }
}

.card-list {
	margin: 2rem 30% 0rem 2rem;
	.card.project-card {
		padding: 5rem;
		position: relative;
	  .project-card-background {
	  	display: block;
	  	height: 100%;
	  	left: 0;
	  	margin: 0;
	  	opacity: 0;
	  	overflow: hidden;
	  	position: absolute;
	  	top: 0;
	  	transition: all 0.3s ease-in-out;
	  	width: 100%;
	  	&.hover {
	  		opacity: 1;
	  	}
	  }
	  &-peach {
			background-color: #d18f91;
			> .project-card-background.hover {
				background-color: #d18f91;
			}
	  }
	  &-yellow {

	  }
	  &-purple {
	  	background-color: #5050FF;
		> .project-card-background.hover {
			background-color: #5050FF;
		}
	  }
	  .card-row-title {
	  	color: #d6dce0;
	  	left: 5%;
	  	opacity: 0;
	  	position: absolute;
	  	top: 10%;
	  	transition: all 0.3s ease-in-out;
	  	&.hover {
	  		opacity: 1;
	  	}
	  }
	  .card-row-description {
	  	color: #fff;
	  	left: 5%;
	  	opacity: 0;
	  	position: absolute;
	  	top: 25%;
	  	transition: all 0.3s ease-in-out;
	  	&.hover {
	  		opacity: 1;
	  	}
	  }
	}
	.card {
		align-items: flex-start;
	    color: #000;
	    display: flex;
	    justify-content: flex-end;
	    margin: 2rem 0;
	    text-decoration: none;
	    transform: translateZ(0);
	    &.disabled {
	    	color: $white;
	    	opacity: 0.5;
	    	pointer-events: none;
	    	text-decoration: line-through;
	    	&:after {
			    color: $white;
	    		content: "Coming Soon";
			    display: inline;
			    font-family: monospace;
			    font-size: 1.5rem;
			    position: absolute;
			    right: -9rem;
	    	}
	    }
	    &.row {
			flex-flow: row nowrap;
			&:hover {
	    		transform: translateX(1%);
	    		transform-origin: center center;
	    	}
	    }
	    &.column {
	    	animation: cardHoverOut 0.25s ease-in-out forwards;
	    	flex-flow: column nowrap;
	    	&:hover {
	    		animation: cardHover 0.25s ease-in-out forwards;
	    		transform-origin: center center;
	    	}
	    }
	    &:first-of-type {
	    	margin-top: 0;
	    }
	    > div[class*="col"] {
			margin: 0;
		}
		.card-row-title {
			color: $white;
			font-family: 'Avenir 65 Medium', sans-serif;
			font-size: 1.5rem;
			margin: 0;
			margin-right: 1rem;
			&-inverse {
				color: #36383a;
				font-family: 'Avenir 85 Heavy', sans-serif;
			}
			&:before {
				// content: "—";
    			left: -2rem;
				position: absolute;
			}
		}
		.card-row-description {
			color: #999;
		    font-weight: 400;
		    font-size: 1.25rem;
		    line-height: 1.5;
		    margin: 0;
		    // font-family: 'Recta Medium';
		}
		.card-row-meta {
			color: $white;
		    font-weight: 700;
		    font-size: 0.85rem;
		    margin: 0;
		    margin-left: 2rem;
	        &:first-child {
				color: #999;
			}
			+ .card-row-meta {
				font-size: 1.65rem;
			}
		}
		&.yellow {
			background:  #e8d9b2;
			background-size: cover;
			background-position: 50%;
			color: #000;
		}
		&.red {
			background: #ff9d88;
			background-size: cover;
			background-position: 50%;
			color: #000;
		}
		&.green {
			background: #001263;
			background-size: cover;
			background-position: 50%;
			color: #000;
		}
	}
}

a.btn-social {
	background-color: #fff;
	background-color: $background-black;
	border-radius: 50px;
	border: 1.5px solid $white;
	color: #000;
	color: $white;
	font-family: 'Recta', sans-serif; 
	font-size: 0.95rem;
	opacity: 0.75;
	padding: 9px 20px;
	transition: opacity 0.3s ease-in-out;
	&:hover {
		opacity: 1;
	}
	&-inverse {
		background-color: #c5c5c5;
		&:hover {
			background-color: darken(#c5c5c5, 10%);
		}
	}
	&.dribbble {
		margin-right: 1rem;
		&:before {
			background-position: center;
			background-repeat: no-repeat;
			background-size: 15px;
			background: url("../img/dribbble-logo.svg");
			content: "";
			display: inline-block;
			height: 15px;
			margin-right: 0.5rem;
			position: relative;
			width: 15px;
		}
	}
	&.linkedin {
		&:before {
			background-position: center;
			background-repeat: no-repeat;
			background-size: 15px;
			background: url("../img/linkedin-logo.svg");
			content: "";
			display: inline-block;
			height: 15px;
			margin-right: 0.5rem;
			position: relative;
			width: 15px;
		}
	}
	#social-links a:first-child {
	    margin-right: 1rem;
	}
}


.project-title-art-container {
	position: relative;
	margin: 15rem 0 3rem 0;
}

.project-title-art {
	display: inline-block;
	font-family: "HaveHeartOne", "Avenir 85 Heavy", sans-serif;
	position: relative;
	h1, h2, h3, h4 {
		margin: 0;
	}
	.super {
		font-size: 12rem;
	}
	.extra-large {
		font-size: 10rem;
	}
	.large {
		font-size: 7.5rem;
	}
	.medium {
		font-size: 5rem;
	}
	.small-medium {
		font-size: 3.5rem;
	}
	.small {
		font-size: 2rem;
	}
	.mid-small {
		font-size: 1.5rem;
	}
	.extra-small {
		font-size: 1rem;
	}
	&.tight-line-height{
		line-height: 0.9;
	}
	&.loose-line-height{
		line-height: 1.5;
	}
	.ec-ampersand-modifier {
	    bottom: -0.7rem;
	    left: 13.55rem;
		position: absolute;
	}
	.ec-lastword-modifier {
    	bottom: -3.5rem;
	    left: 10rem;
		position: absolute;
	}
}

.content-separator-text {
	font-family: 'Avenir 85 Heavy', sans-serif;
    color: #000;
    font-size: 1.75rem;
    letter-spacing: -0.5px;
    line-height: 1.1;
    margin: 5rem auto 7rem auto;
    position: relative;
    width: 70%;
    &:before {
    	color: rgba(240,240,240, 1);
    	content: attr(data-pullquote);
    	font-family: "HaveHeartOne";
    	font-size: 6rem;
    	left: -10%;
    	position: absolute;
    	top: 75%;
    	width: 150%;
    	z-index: 1;
    }
}

.project-floating-text {
    color: rgba(0, 0, 0, 0.5);
    font-family: monospace;
    font-size: 1.25rem;
    left: 0;
    left: 0;
	position: fixed;
    top: 20%;
    transform: rotate(-90deg);
}

.project-image {
	opacity: 1;
	position: relative;
	&-image {
		&:hover {
			opacity: 0.75;
		}
	}
	.project-image-image-caption {
	    bottom: 20%;
	    color: grey;
	    font-family: monospace;
	    font-size: 0.9rem;
	    left: -9.5%;
		position: absolute;
	    transform: rotate(-90deg);
	}
}

//Anchors/Buttons
a, button {
	border: 0;
	text-decoration: none;
	transition: all 0.3s ease-in-out;	
	&.btn {
		position: relative;
	}
	&.btn-primary {
		background-color: #ff5722;
		border-radius: 50px;
		color: $white;
		padding: 8px 13px;
		&:hover {
			background-color: lighten(#ff5722, 10%);
		}
	}
	&.btn-secondary {
		background-color: #4885ed;
		border-radius: 50px;
		color: $white;
		padding: 8px 13px;
		&:hover {
			background-color: darken(#4885ed, 10%);
		}
	}	
	&.btn-inline {
		display: inline;
		width: auto;
	}
	&.btn-inline-block {
		display: inline-block;
		width: auto;
	}
	&.btn-block {
		display: block;
		margin: 1rem 0;
		width: 100%;
	}
	&.btn-text {
		background: transparent;
		font-family: monospace;
		&-large {
			font-size: 1.25rem;
		}
		&.text-grey {
		    border-bottom: 1px solid grey;
			color: grey;
		    &:hover {
			    border-color: $white;
				color: $white;
			}
			&.inverse {
				&:hover {
					border-color: $black;
					color: $black;
				}
			}
		}
		&.dribbble {
    		border-color: #ff0047;
			color: #ff0047;
		}
		&.linkedin {
    		border-color: #3f6cea;
			color: #3f6cea;
    		margin-right: 0.5rem;
		}
		&.text-white {
			color: $white;
		}
	}
	&.border-pink {
		border-color: #EA4C89!important;
	}
	&.border-blue {
		border-color: blue!important;
	}
	&#copy-to-clipboard {

	}
	&:hover {
		cursor: pointer;
	}
}

#content {
	color: #000;
	.title {
		font-size: 1.5rem;
		letter-spacing: 0.5px;
		margin-bottom: 0.5rem;
		margin-top: 2rem;
	}
	p {
		color: #424346;
		font-size: 1.25rem;
		letter-spacing: -0.2px;
		margin-top: 0;
	}
	.article-introduction {
		margin-bottom: 5rem;
		margin-top: 5rem;
	}
	.content-intro {
		font-size: 2.25rem;
		line-height: 1.5;
		h2{
			font-size: 2.5rem;
			margin: 0;
		}
	}
	.project-info {
		background-color: #f9f9f9;
		font-size: 2.25rem;
		height: 100%;
		line-height: 1.5;
		padding: 50px;
		&-title {
			color: #262829;
			font-size: 1.2rem;
			margin: 0;
		}
		&-description {
			color: #262829;
			margin: 0;
			margin-bottom: 1rem;
		}
	}
}

.staggered-row {
	h3 {
		font-size: 1.75rem;
    	line-height: 1.25;
		margin: 0;
		&.title {
			font-family: 'Avenir 85 Heavy', sans-serif;
			&.light {
				font-family: 'Avenir 55 Roman', sans-serif;
				font-weight: 400;
			}
		}
	}
	p {
		margin-top: 0;
	}
}

blockquote {
	margin: 50px auto;
	min-width: 320px;
	position: relative;
	width: 55%;
	&:before {
		color: #e3e9ef;
		content: "\"";
		font-size: 10rem;
		left: -70px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%) rotate(-10deg);
	}
	> p {
		margin: 0;
	}	
}

@media screen and (max-width: 1300px) {
	#intro {
		height: auto;
		padding-bottom: 4rem;
		.btn {
			display: inline-block;
    		margin: 1rem 0;
		}
		.col-9 {
			flex: 100%;
		}
		.content-section-content--hero {
			margin: 5rem 0 2rem 0;
			position: relative;
			width: 90%;
		}
		#social-links {
			margin: 1rem 0;
			position: relative;
			display: block;
		}
	}
};


@media screen and (max-width: 1000px) {
	#hero {
		.navigation {
			.col-4 {
				flex-basis: 10%;
			}
			.col-8 {
				flex-basis: 90%;
			}
		}
	}
};

@media screen and (max-width: 860px) {
	#hero {
		.navigation-area {
			margin: 2rem 0 4rem 0;
			.site-icon {
				margin: 0 auto 0 0;
			}
			&.flex-row {
				align-items: center;
    			display: flex;
				// flex-flow: column nowrap;
				div[class*="col"] {
					margin-left: 0;
					margin-right: 0;
				}
			}
			.navigation {
				> .nav-list {
					flex-flow: column nowrap;
					> .nav-list-item {
						text-align: center;
					}
				}
			}
		}
	}
	#intro {
		.content-section-content--hero {
			margin: 0;
		}
		.col-4 {
			display: none;
		}
		div[class*="col"] {
			margin-left: 0;
			margin-right: 0;
		}
	}
	#container {
		padding: 3rem 4rem 3rem 4rem;
	}
	.mobile-menu {
    	background: url("../img/mobilemenu.svg");
    	display: block;
    	height: 25px;
    	margin: 0 0 0 auto;
    	width: 25px;
    	&:hover {
    		cursor: pointer;
    	}
    }
	.navigation-area .navigation {
	    align-items: center;
	    background-color: rgba(0,0,0,0.9);
		display: none;
	    height: 100%;
	    justify-content: center;
	    left: 0;
		position: fixed;
	    top: 0;
	    width: 100%;
	    z-index: 99999;
	    .close-nav {
	    	display: block;
		    font-size: 2rem;
	    	position: absolute;
		    right: 10%;
		    top: 5%;
	    }
	    .nav-list > .nav-list-item > a {
	    	font-size: 2rem;
	    }
	}
	.staggered-row {
		flex-flow: column nowrap;
	}
	.row {
		div[class*="col"] {
			margin: 0;
		}
	}
	.card-list {
		margin: 1.5rem 0;
		.card {
			&.disabled:after {
				position: relative;
				right: 0;
			}
			&.row {
				flex-flow: column nowrap;
				.card-row-meta {
					&:first-child {
						margin: 1rem 0 0 0;
					}
					&:last-child {
						margin: 0 0 1rem 0;
					}
				}
			}
		}
	}
}


@media screen and (max-width: 530px) {
	.flex-column-small {
		flex-flow: column nowrap;
	}
	#container {
		padding: 1rem;
	}
	#intro {
		min-height: auto;
		padding-bottom: 2rem;
		.content-section-content--hero {
			max-width: 100%;
			width: 100%;
			margin-bottom: 4rem;
			h2 {
				display: block;
				font-size: 1.7rem;
				margin-bottom: 1rem;
			}
			.btn {
				margin-left: 0;
			}
		}
	}
	#about {
		.introduction-info {
			margin-bottom: 1rem;
		}
	}
	.email-component {
		display: block;
		.email-text-input {
			display: block;
			width: 100%;
			+ .btn {
				font-size: 1.5rem;
				padding-left: 0;
				text-decoration: underline;
			}
		}
	}
	#social-links {
		a {
			display: block;
			text-align: center;
			margin: 1rem 0;
		}
	}
	.posts-meta {
		padding-top: 0;
	}
	.project-page {
		.project-title-art-container {
			margin: 1rem;
			.project-title-art {
				.super {
					font-size: 7rem;
				}
			}
		}
		.project-floating-text {
			position: relative;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transform: none;
		}
	}	
	.project-image {
		> .project-image-image-caption {
			transform: none;
			position: relative;
			left: 0;
			bottom: 0;
		}
	}
	img {
		width: 100%;
	}
	.content-separator-text {
		margin: 0 auto 3rem auto;
		text-align: center;
		width: 90%;
	}
}